body {
    background: #04A1BF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.heading {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
}

p {
    font-weight: 600;
}

.instruction_1 {
    margin-top: 10px;
    color: #FFCD5D;
}

.instruction_2 {
    color: #51DF70;
}

.instruction_3 {
    margin-bottom: 30px;
    color: #025F70;
}

#enter {
    padding: 12px 5px;
    border: 2px black solid;
    border-radius: 5px;
    outline: none;
}

#submit {
    padding: 12px;
    border: 2px black solid;
    border-radius: 5px;
}

li {
    list-style: none;
}

li > button {
    border: none;
    color: #025f70;
    font-weight: 800;
    background: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 30px;
}

